LOGTRACE_DB_HOST=
LOGTRACE_DB_PORT=
LOGTRACE_DB_USER=
LOGTRACE_DB_PASSWORD=
LOGTRACE_DB_NAME=
LOGTRACE_ENV=
LOGTRACE_TZ=
LOGTRACE_DB_SSL_MODE=
LOGTRACE_HTTP_PORT=8080
LOGTRACE_HTTP_RATE_LIMIT_TYPE=
LOGTRACE_HTTP_RATE_LIMIT_IS_ENABLED=false
LOGTRACE_HTTP_RATE_LIMIT_REQUESTS_PER_MINUTE=0
LOGTRACE_HTTP_RATE_LIMIT_BURST_INTERVAL=0s
LOGTRACE_HTTP_SWAGGER_PORT=0
LOGTRACE_HTTP_METRICS_ENABLED=false
LOGTRACE_HTTP_METRICS_USERNAME=username
LOGTRACE_HTTP_METRICS_PASSWORD=password
LOGTRACE_GOOGLE_AUTH_CODE=
LOGTRACE_PORT=
LOGTRACE_LOG_LEVEL=
LOGTRACE_LOGGING_MODE=
LOGTRACE_OTEL_ENDPOINT=
LOGTRACE_OTEL_USE_TLS=false
LOGTRACE_OTEL_HEADERS=
LOGTRACE_OTEL_GRAFANA_USERNAME=
LOGTRACE_OTEL_GRAFANA_PASSWORD=
LOGTRACE_AUTH_GOOGLE_CLIENT_ID=
LOGTRACE_AUTH_GOOGLE_CLIENT_SECRET=
LOGTRACE_AUTH_GOOGLE_REDIRECT_URL=
LOGTRACE_AUTH_GOOGLE_SCOPES=[]
LOGTRACE_AUTH_JWT_KEY=thisisaweaksecret
LOGTRACE_AUTH_JWT_AUDIENCE=logtrace
LOGTRACE_AUTH_JWT_PRIVATE_KEY=
LOGTRACE_AUTH_JWT_PUBLIC_KEY=
LOGTRACE_DATABASE_REDIS_DSN=redis://localhost:6379
LOGTRACE_DATABASE_POSTGRES_DSN=postgres://postgres:password@localhost:5432/logtrace?sslmode=disable
LOGTRACE_DATABASE_POSTGRES_LOG_QUERIES=false
LOGTRACE_DATABASE_POSTGRES_QUERY_TIMEOUT=0s
LOGTRACE_FRONTEND_APP_URL=http://localhost:5173
LOGTRACE_EMAIL_PROVIDER=
LOGTRACE_EMAIL_SENDER=
LOGTRACE_EMAIL_SENDER_NAME=
LOGTRACE_EMAIL_SES_REGION=
LOGTRACE_EMAIL_SES_ACCESS_KEY=
LOGTRACE_EMAIL_SES_SECRET_KEY=
LOGTRACE_API_KEY_HASH_SECRET=hash_secret
LOGTRACE_BILLING_TRIAL_DAYS=0
LOGTRACE_UPLOADER_S3_REGION=
LOGTRACE_UPLOADER_S3_ACCESS_KEY=
LOGTRACE_UPLOADER_S3_ACCESS_SECRET=
LOGTRACE_UPLOADER_S3_ENDPOINT=
LOGTRACE_UPLOADER_S3_USE_TLS=false
LOGTRACE_UPLOADER_S3_LOG_OPERATIONS=false
LOGTRACE_UPLOADER_S3_BUCKET=
LOGTRACE_UPLOADER_S3_CLOUDFLARE_BUCKET_DOMAIN=
LOGTRACE_CSRF_SECRET=
